<a href="https://colab.research.google.com/github/dangalledi/Tareas_Mineria_de_Datos/blob/master/Tarea2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1 - [usar Dataframe]

### 1.- Leer el archivo Countries.csv en un dataframe.

In [0]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [0]:
ruta = '/content/drive/My Drive/Minería de datos/Tarea2'

In [0]:
f = open('%s/Countries.csv'%ruta)
Countries = pd.read_csv(f)
Countries.head()

   country coastline  highest   EU
0  Albania       yes     2764   no
1  Andorra        no     2942   no
2  Austria        no     3798  yes
3  Belarus        no      345   no
4  Belgium       yes      694  yes

### 2.- Imprimir una lista de los países que no tienen linea costerá y no estan en la EU, junto con sus puntos más altos, ordene de menor a mayor sus puntos más altos.

In [0]:
Countries[Countries.coastline == 'no'][Countries.EU == 'no'].sort_values(by=['highest'],ascending=[True])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                   country coastline  highest  EU
3                  Belarus        no      345  no
26                 Moldova        no      430  no
33                  Serbia        no     2169  no
5   Bosnia and Herzegovina        no     2386  no
22           Liechtenstein        no     2599  no
20                  Kosovo        no     2656  no
25               Macedonia        no     2764  no
1                  Andorra        no     2942  no
38             Switzerland        no     4634  no

# Ejercicio 2 - [usar Dataframe]

### 1.- Encontrar el punto medio, máximo y mínimo más alto [highest] de los países en la UE y no en la UE.

In [0]:
print('Max de highest no en UE: ',max(Countries['highest'][Countries.EU =='no']))
print('Media de highest no en UE: ',(Countries['highest'][Countries.EU =='no'].mean()))
print('Min de highest no en UE: ',min(Countries['highest'][Countries.EU =='no']))

Max de highest no en UE:  5137
Media de highest no en UE:  2533.3333333333335
Min de highest no en UE:  345

In [0]:
print('Max de highest en UE: ',max(Countries['highest'][Countries.EU =='yes']))
print('Media de highest en UE: ',(Countries['highest'][Countries.EU =='yes'].mean()))
print('Min de highest en UE: ',min(Countries['highest'][Countries.EU =='yes']))

Max de highest en UE:  4810
Media de highest en UE:  1968.148148148148
Min de highest en UE:  171

### 2.- Encontrar el punto medio, máximo y mínimo más alto [higest] de los países con y sin línea costera.

In [0]:
print('Max de highest sin coastline: ',max(Countries['highest'][Countries.coastline =='no']))
print('Media de highest sin coastline: ',(Countries['highest'][Countries.coastline =='no'].mean()))
print('Min de highest sin coastline: ',min(Countries['highest'][Countries.coastline =='no']))

In [0]:
print('Max de highest con coastline: ',max(Countries['highest'][Countries.coastline =='yes']))
print('Media de highest con coastline: ',(Countries['highest'][Countries.coastline =='yes'].mean()))
print('Min de highest con coastline: ',min(Countries['highest'][Countries.coastline =='yes']))

Max de highest con coastline:  5137
Media de highest con coastline:  2163.75
Min de highest con coastline:  171

# Ejercicio 3 - [usar Dataframe]

#### 1.- Leer los jugadores y equipos en dataframes [Players.csv] y [Teams.csv].

In [0]:
h = open('%s/Players.csv'%ruta)
Players = pd.read_csv(h)
g = open('%s/Teams.csv'%ruta)
Teams = pd.read_csv(g)

In [0]:
Teams.head()

          team  ranking  games  ...  goalsAgainst  yellowCards  redCards
0       Brazil        1      5  ...             4            7         2
1        Spain        2      6  ...             2            3         0
2     Portugal        3      4  ...             1            8         1
3  Netherlands        4      6  ...             5           15         0
4        Italy        5      3  ...             5            5         0

[5 rows x 10 columns]

In [0]:
Players.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

#### 2.- Qué jugador en un equipo con "ou" en el nombre, jugó mas de 190 minutos e hizo más de 100 pases? Imprima el apellido del jugador.

In [0]:
Players.surname[Players.surname.str.contains('ou')][Players.minutes>190][Players.passes>100]

78          Assou-Ekotto
89                Makoun
93              N'Koulou
119    Christian Poulsen
155           Abou Diaby
216          Katsouranis
274                Eboue
282           Yaya Toure
371        Ahn Young-Hak
512        Lee Young-Pyo
Name: surname, dtype: object

#### 3.- ¿Cuál es el promedio, máximo y mínimo de pases de los defensas y delanteros?

In [0]:
print('Max de passes de un defender: ',max(Players['passes'][Players.position =='defender']))
print('Media de passes de un defender: ',(Players['passes'][Players.position =='defender'].mean()))
print('Min de passes de un defender: ',min(Players['passes'][Players.position =='defender']))

Max de passes de un defender:  402
Media de passes de un defender:  102.6436170212766
Min de passes de un defender:  0

In [0]:
print('Max de passes de un forward: ',max(Players['passes'][Players.position =='forward']))
print('Media de passes de un forward: ',(Players['passes'][Players.position =='forward'].mean()))
print('Min de passes de un forward: ',min(Players['passes'][Players.position =='forward']))

Max de passes de un forward:  321
Media de passes de un forward:  50.82517482517483
Min de passes de un forward:  0

#### 4.- ¿Qué equipo tiene el mayor ratio de 'goalsFor' y 'goalsAgainst'? Imprimir sólo el nombre del equipo.

In [0]:
Equipo = Teams.sort_values(by=['goalsFor'],ascending=[False])
Equipo.head()

           team  ranking  games  ...  goalsAgainst  yellowCards  redCards
5       Germany        6      6  ...             3            8         1
3   Netherlands        4      6  ...             5           15         0
6     Argentina        7      5  ...             6            7         0
0        Brazil        1      5  ...             4            7         2
12      Uruguay       16      6  ...             5            8         2

[5 rows x 10 columns]

In [0]:
Equipo = Teams.sort_values(by=['goalsAgainst'],ascending=[False])
Equipo.head()

           team  ranking  games  ...  goalsAgainst  yellowCards  redCards
31  North Korea      105      3  ...            12            2         0
28  South Korea       47      4  ...             8            6         0
24     Slovakia       34      4  ...             7           11         0
6     Argentina        7      5  ...             6            7         0
25      Denmark       36      3  ...             6            6         0

[5 rows x 10 columns]

In [0]:
Equipo.team.max()

'Uruguay'

#### 5.- ¿Cuántos jugadores que juegan en un equipo con ranking <5 jugaron más de 400 minutos?

In [0]:
PlayersTeams = Players.merge(Teams, on = 'team')
PlayersTeams.head()

     surname     team    position  ...  goalsAgainst  yellowCards  redCards
0     Abdoun  Algeria  midfielder  ...             2            4         2
1    Belhadj  Algeria    defender  ...             2            4         2
2  Boudebouz  Algeria  midfielder  ...             2            4         2
3  Bougherra  Algeria    defender  ...             2            4         2
4   Chaouchi  Algeria  goalkeeper  ...             2            4         2

[5 rows x 17 columns]

In [0]:
print ('Cant de jugadores en un equipo con ranking <5 jugaron más de 400 minutos son : ' , PlayersTeams.surname[PlayersTeams.ranking<5][PlayersTeams.minutes>400].count())

Cant de jugadores en un equipo con ranking <5 jugaron más de 400 minutos son :  26

#### 6.- Calcule por cada equipo la diferencia entre el jugador que da menos pases con el que da más pases. (use función groupby, agg con función lambda)

In [0]:
Players.groupby('team').agg({'passes' : { 'Diferencia' : lambda x : max(x)-min(x) }})

# Ejercicio 4  - [usar Dataframe]

Escribir un bucle que interactivamente le pide al usuario que introduzca un nombre de equipo.
- Si el equipo existe, liste todos los jugadores de ese equipo (con toda su información), ordenados por minutos descendentes.
- Si el equipo no existe, imprima "Este equipo no clasifico al mundial".
- Si se ingresa 'salir', termine el loop.

In [0]:
def buscarEquipo (equipo):
    equipo = equipo.title()
    print (equipo)
    if (Players[Players.team == equipo].empty == False ):
      print (Players[Players.team == equipo].sort_values(by=['minutes'],ascending=[True]))
      return 0
    if (equipo == 'Salir'):
      print ('Ya salio del loop')
      return 1 
    else: 
      print ('El equipo ingresado no clasifico al mundial')
      return 0

In [0]:
condicion = 0
while (condicion == 0):
    print ('Ingresar Selecciones de Futbol del Mundo')
    equipo = input('Si no, ingrese salir: ')
    condicion = buscarEquipo(equipo)

Ingresar Selecciones de Futbol del Mundo
Si no, ingrese salir: chile
Chile
        surname   team    position  minutes  shots  passes  tackles  saves
108    Orellana  Chile     forward       25      1       7        0      0
100     Estrada  Chile  midfielder       37      1      16        2      0
113       Tello  Chile  midfielder       45      0      29        1      0
99    Contreras  Chile    defender       54      0      17        1      0
109     Paredes  Chile     forward       70      3      11        5      0
102     Fuentes  Chile    defender       90      0      27        3      0
107      Millar  Chile  midfielder      125      1      80        3      0
111       Suazo  Chile     forward      135      4      39        1      0
103    Gonzalez  Chile  midfielder      138     10      41        6      0
101   Fernandez  Chile  midfielder      155      1      72        2      0
114    Valdivia  Chile     forward      222      3      91        3      0
98      Carmona  Chile  midfielder      270      1     175        9      0
106       Medel  Chile    defender      270      1     123        7      0
110       Ponce  Chile    defender      270      2     113        4      0
115       Vidal  Chile    defender      306      6     178       17      0
105        Jara  Chile    defender      308      1     187        8      0
104        Isla  Chile    defender      332      1     123       10      0
112     Sanchez  Chile     forward      335      7     113       13      0
97        Bravo  Chile  goalkeeper      360      0      58        0      4
96   Beausejour  Chile  midfielder      360      2     100        7      0
Ingresar Selecciones de Futbol del Mundo
Si no, ingrese salir: asd
Asd
El equipo ingresado no clasifico al mundial
Ingresar Selecciones de Futbol del Mundo
Si no, ingrese salir: salir
Salir
Ya salio del loop